@import 'tailwindcss';


:root {
    --primary-color: #fff;
    --secondary-color: #f9c719;
    --secondary-color-hover: #e9b700;
    --accent-color: #3498db;
    --light-color: #ecf0f1;
    --dark-color: #0F2F2B;
    --success-color: #2ecc71;
    --sidebar-bg: #1a1a2e;
    --sidebar-accent: #f9c719;
    --header-bg: #222723;
}

html, body { height: 100%; }
body {
    background: #07302e;
    color: #fff; /* если нужен светлый текст глобально */
}